@value variables: "../../styles/variables.css";
@value sizeLarge from variables;

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.label {
    font-size: sizeLarge;
}

.sublabel {
    font-size: sizeLarge;
}
