@value variables: "../../styles/variables.css";
@value disabled from variables;

.button {
    padding: 10px;
    margin-left: 10px;

    border-radius: 10px;
    border: 1px solid black;
    background: none;

    font-size: 2vw;
}

.button:disabled {
    border: 1px solid disabled;
    color: disabled;
}
