.tabbedHeader {
    background: azure;
    overflow: hidden;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 25%;
}

.tab {
    flex-grow: 1;
    text-align: center;
    
}

.tabText {
    display: inline-block;
    opacity: 0.5;
}

.active {
    font-weight: bold;
    opacity: 1;
    border-bottom: 1px solid black;
}
